Create new event

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@event) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :over_eighteen %>
  <%= f.check_box :over_eighteen %>
  <%= f.label :private %>
  <%= f.check_box :private %>
  <%= f.label :start_datetime %>
  <%= f.date_field :start_datetime %>
  <%= f.label :end_datetime %>
  <%= f.date_field :end_datetime %>
  
  
  <%= f.fields_for :events_images do |f_image| %>
    <%= f_image.hidden_field :feature_image, :value => "true" %>
    
    <%= f_image.fields_for :image do |image| %>
      <%= image.label :path %>
      <%= image.text_field :path %>
    <% end %>
  <% end %>
  
  <%= f.fields_for :location do |f_location| %>
        
    <%= f_location.label :lat %>
    <%= f_location.text_field :lat %>
    
    <%= f_location.label :lng %>
    <%= f_location.text_field :lng %>
      
  <% end %>
  

  <%= collection_check_boxes(:event, :genre_ids, @genres, :name, :name) %>
  
  
  
  <%= f.submit "Create Event" %>
<% end %>

