<div class="container user-profile">
    <div class="card-padder">
        <div class="card">
            
            <h2><%= @user_profile.first_name %> <%= @user_profile.last_name %>'s Profile</h2>
            
            <div class="profile-info">
                <h4>Personal Information</h2>
                <p>Email: <%= @user_profile.user.email %></p>
                <p>Birth Date: <%= @user_profile.birth_date.strftime("%B %d, %Y") %></p>
                <p>Location: <%= "#{@user_profile.location.location_components.where(:component_type => 'formatted_address').first.value}" %></p>
                <div class="horizontal-divider"></div>
                <h4>Interests</h2>
                <% @user_profile.user.genres.each do |genre| %>
                    <p><%= genre.name %></p>
                <% end %>
            </div>
            
            <%= link_to "Edit Profile", edit_user_profile_path(current_user) %>
            <%= link_to "Deactivate Profile", user_profile_path, method: :delete %>
        </div>
    </div>
</div>