<section class="inset card" id="template">
    <div class="info-container">
        <div class="event-info">
            <div class="event-head">
                <div class="feature-image"></div>
                <div class="bg-overlay"></div>
                
                <div class="general-info">
                    <h2 class="event-name"></h2>
                    <p class="medium event-host">Hosted by <span class="highlight"></span></p>
                    <span class="over-eighteen medium"></span>
                </div>
            </div>
            
            <div class="event-body">
                <div class="info-inner">
                    <div class="info-left">
                        <p class="event-date"></p>
                        <p class="event-location"></p>
                    </div>
                    
                    <div class="info-right">
                        <p class="event-genres"></p>
                    </div>
                </div>
                
                <div class="rsvp">
                    <%= form_tag({controller: "user_event_responses", action: "update"}, method: "post", class: "rsvp-going") do %>
                    <% end %>
                    
                    <%= form_tag({controller: "user_event_responses", action: "update"}, method: "post", class: "rsvp-interested") do %>
                    <% end %>
                    
                    <%= form_tag({controller: "user_event_responses", action: "update"}, method: "post", class: "rsvp-remove") do %>
                    <% end %>
                </div>
                
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>
        
        <div class="event-comments">
            <div class="comment-input">
                <%= form_for Comment.new, method: :post do |f| %>
                    <%= f.hidden_field :event_id %>
                    <%= f.label :comment %>
                    <%= f.text_area :comment %>
                    <%= f.submit "Post Comment" %>
                <% end %>
			</div>
			
			<div class="horizontal-divider"></div>
			
			<div class="comments">
				<p id="no-comments">There are no comments about this event.</p>
			</div>
        </div>
    </div>
</section>