<div class="card-padder">
    <%= content_tag :article, class: "card event", id: "event-#{event.event_id}", 'data-order' => "1", style: "background-image: url(#{event.feature_image_path})" do %>
        <div class="image-overlay"></div>
        <div class="dropdown">
            <a href="#">
                <%= image_tag('icons/menu.png') %>
            </a>
            <ul>
                <li>
                    <%= link_to remove_event_path(:id => event.event_id) do %>
                        <span>Remove From Feed</span>
                    <% end %>
                </li>
                <% if event.creator_id == current_user.id %>
                    <div class="horizontal-divider"></div>
                    <li>
                        <%= link_to edit_event_path(event.event_id) do %>
                            <span>Edit Event</span>
                        <% end %>
                    </li>
                    <div class="horizontal-divider"></div>
                    <li>
                        <%= link_to event_path(:id => event.event_id), method: :delete, data: { confirm: "Event cancellations can not be reversed. Are you sure?" } do %>
                            <span>Cancel Event</span>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
        <div class="info-container">
            <div class="date small">
                <span class="year"><%= event.event_start.year %></span>
                <span class="month"><%= event.event_start.strftime("%d %b") %></span>
            </div>
            
            <div class="front-info">
                <div class="info-above">
                    <h2><%= event.event_name %></h2>
                    <p class="medium">Hosted by <span class="highlight"><%= "#{event.creator_first_name} #{event.creator_last_name}" %></span></p>
                    <%= over_eighteen_display(event.over_eighteen) %>
                </div>
                
                <div class="info-left">
                    <p class="medium"><%= "#{event.event_start.to_formatted_s(:long)} to #{event.event_end.to_formatted_s(:long)}" %><p>
                    <p><%= "#{event.event.location_components.where(:component_type => 'formatted_address').first.value}" %></p>
                </div>
                
                <div class="info-right">
                    <%= genre_display(event.event.genres.all) %>
                </div>
                
                <div class="info-bottom large">
                    <p><%= event.event_description %></p>
                </div>
            </div>
            <button class="medium more-information" id="more-<%= event.event_id %>" data-order="1">More Information</button>
        </div>
    <% end %>
</div>