<header>
    <nav>
        <div class="container">
          <% if user_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag('icons/logo.png') %>
                <span>Revolution</span>
              <% end %>
              <ul>
                <li>
                  <%= link_to root_path do %>
                    <%= image_tag('icons/events.png') %>
                    <span>Pit List</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_events_path do %>
                    <%= image_tag('icons/create.png') %>
                    <span>Create Event</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to(destroy_user_session_path, :method => :delete) do %>
                    <%= image_tag('icons/settings.png') %>
                    <span>Log Out</span>
                  <% end %>
                </li>
              </ul>
            <% else %>
              <%= image_tag('icons/logo.png') %>
            <% end %>
        </div>
    </nav>
</header>