<header>
    <nav>
        <div class="container">
          <% if user_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag('icons/logo.png') %>
                <span>Revolution</span>
              <% end %>
              <ul>
                <li>
                  <%= link_to root_path do %>
                    <%= image_tag('icons/events.png') %>
                    <span>Pit List</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_event_path do %>
                    <%= image_tag('icons/create.png') %>
                    <span>Create Event</span>
                  <% end %>
                </li>
                <li class="dropdown">
                  <a href="#">
                    <%= image_tag('icons/settings.png') %>
                    <span>Account</span>
                  </a>
                  <ul>
                    <li>
                      <%= link_to user_profile_path(current_user) do %>
                      <span>View Profile</span>
                      <% end %>
                    </li>
                    <div class="horizontal-divider"></div>
                    <li>
                      <%= link_to edit_user_profile_path(current_user) do %>
                      <span>Edit Profile</span>
                      <% end %>
                    </li>
                    <div class="horizontal-divider"></div>
                    <li>
                      <%= link_to(destroy_user_session_path, :method => :delete) do %>
                        <span>Log Out</span>
                      <% end %>
                    </li>
                  </ul>
                </li>
              </ul>
            <% else %>
              <%= image_tag('icons/logo.png') %>
            <% end %>
        </div>
    </nav>
</header>